body {
    height: 95vh;
    flex-direction: column;
    font-family: 'Karla', sans-serif;
}

.playerPanel {
    display: flex;
    font-size: 32px;
}

.playerPanel div {
    display: flex;
    align-items: center;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 32px;
}

.playerPanel img {
    width: 60px;
    height: 60px;
    margin-right: 16px;
}

.notClickable {
    pointer-events: none;
}

.playerInactive {
    opacity: 0.5;
}

.winnerLineHorizontal {
    z-index: 9;
    width: 400px;
    height: 10px;
    background-color: rgba(112, 112, 112);
    position: absolute;
    transform: scale(0.0);
    transition: transform 225ms ease-in-out;
}

.winnerLineVertical {
    z-index: 9;
    width: 400px;
    height: 10px;
    background-color: rgba(112, 112, 112);
    position: absolute;
    transform: scale(0.0) rotate(90deg);
    transition: transform 225ms ease-in-out;
}

.winnerLineDiagonal1 {
    z-index: 9;
    width: 500px;
    height: 10px;
    background-color: rgb(112, 112, 112);
    position: absolute;
    transform: rotate(45deg) scale(0.0);
    transition: transform 225ms ease-in-out;
}

.winnerLineDiagonal2 {
    z-index: 9;
    width: 500px;
    height: 10px;
    background-color: rgba(112, 112, 112);
    position: absolute;
    transform: rotate(-45deg) scale(0.0);
    transition: transform 225ms ease-in-out;
}

.winnerDiv {
    position: relative;
    position: absolute;
    right: -41px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    animation: zoomIn 225ms ease-in-out;
} 
/* animation hinzufügen namens "zoomIn", dauert 225ms, verwendet als animation ease-in-out*/
/* animation (keyframe) namens "zoomIn" definieren */
@keyframes zoomIn {
    from {
        transform: scale(0);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

.winnerDiv span {
    position: absolute;
    font-size: 50px;
    font-weight: bold;
}

.winnerDiv img {
    width: 500px;
    height: 400px;
}

.restartButton {
    border: 1px solid rgb(0, 0, 0);
    background-color: green;
    z-index: 99;
    width: 150px;
    height: 50px;
    color: white;
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    bottom: 97px;
    border-radius: 5px;
}

.restartButton:hover {
    background-color: black;
}

table {
    border-collapse: collapse;
}

tr {
    width: 399px;
}

td {
    width: 133px;
    height: 133px;
    border: 5px solid rgba(112, 112, 112);
    position: relative;
    cursor: pointer;
}

td:hover {
    background-color: rgba(26, 221, 0, 0.1);
}

tr:first-child td {
    border-top: 0;
}

tr td:first-child {
    border-left: 0;
}

tr:last-child td{
    border-bottom: 0;
}

tr td:last-child {
    border-right: 0;
}

.shape {
    position:absolute;
    width: 80px;
    height: 80px;
}

.justAlignCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.d-none {
    display: none;
}

.scale1 {
    transform: scale(1.0) !important;
}

.scale2 {
    transform: rotate(90deg) scale(1.0) !important;
}

.scale3 {
    transform: rotate(45deg) scale(1.0) !important;
}

.scale4 {
    transform: rotate(-45deg) scale(1.0) !important;
}

@media (max-width: 510px) {
    .playerPanel img {
        width: 30px;
        height: 30px;
        margin-right: 8px;
    }

    .playerPanel div {
        margin-left: 8px;
        margin-right: 8px;
        margin-bottom: 16px;
    }

    tr {
        width: 258px;
    }

    td {
        width: 86px;
        height: 86px;
    }

    .winnerDiv img {
        width: 350px;
        height: 300px;
    }

    .restartButton {
        height: 30px;
        width: 100px;
        font-size: 16px;
        bottom: 80px;
    }

    .winnerDiv span {
    font-size: 40px;
    }

    .shape {
        width: 50px;
        height: 50px;
    }

    .winnerLineHorizontal {
        width: 250px;
    }

    .winnerLineVertical {
        width: 250px;
    }

    .winnerLineDiagonal1 {
        width: 300px;
    }

    .winnerLineDiagonal2 {
        width: 300px;
    }
}